<app-modal [isOpen]="isOpen" (closed)="closeModal()">
  <div class="modal-header">
    <h4>To extend the barcode activation period</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Your name</label>
        <input id="name" type="text" value="Ahmed">
      </div>
      <div class="form-group">
        <label for="activationStart">Activation start</label>
        <input id="activationStart" type="text" value="Ahmedmohamed345@gmail.com">
      </div>
      <div class="form-group">
        <label for="activationEnd">End of activation</label>
        <input id="activationEnd" type="text" value="Social media influencer">
      </div>
      <button class="done-btn" type="submit">Done</button>
    </form>
  </div>
</app-modal>
