.withdrawal-submitted-modal-content {
  text-align: center;
}

.done-btn {
  margin-top: 20px;
  background-color: #4a47a3;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-header {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
