<div class="profile-layout">
  <aside class="sidebar-info">
    <div class="card profile-card">
      <img [src]="user.avatar" alt="User Avatar" class="avatar">
      <h3>{{ user.name }}</h3>
      <p>{{ user.bio }}</p>
      <p>{{ user.location }}</p>
    </div>
  </aside>

  <main class="main-content">
    <!-- Social Media Section -->
    <div class="card social-media-section">
      <div class="section-header">
        <h3>Social Media</h3>
        <button class="edit-btn" *ngIf="!isEditingSocial" (click)="isEditingSocial = true">
          Edit
          <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/edit.svg)'" [style.mask-image]="'url(assets/icons/edit.svg)'"></span>
        </button>
        <button class="done-btn" *ngIf="isEditingSocial" (click)="isEditingSocial = false">Done</button>
      </div>
      <div class="social-links">
        <div class="social-link facebook">
          <div class="icon-container">
            <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/facebook.svg)'" [style.mask-image]="'url(assets/icons/facebook.svg)'"></span>
          </div>
          <div class="link-info">
            <p>Facebook</p>
            <a *ngIf="!isEditingSocial" [href]="user.social.facebook" target="_blank">{{ user.social.facebook }}</a>
            <input *ngIf="isEditingSocial" type="text" [(ngModel)]="user.social.facebook">
            <small>Number of students from Facebook</small>
          </div>
        </div>
        <div class="social-link instagram">
          <div class="icon-container">
            <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/instagram.svg)'" [style.mask-image]="'url(assets/icons/instagram.svg)'"></span>
          </div>
          <div class="link-info">
            <p>Instagram</p>
            <a *ngIf="!isEditingSocial" [href]="user.social.instagram" target="_blank">{{ user.social.instagram }}</a>
            <input *ngIf="isEditingSocial" type="text" [(ngModel)]="user.social.instagram">
            <small>Number of students from Instagram</small>
          </div>
        </div>
        <div class="social-link tiktok">
          <div class="icon-container">
            <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/tiktok.svg)'" [style.mask-image]="'url(assets/icons/tiktok.svg)'"></span>
          </div>
          <div class="link-info">
            <p>Tiktok</p>
            <a *ngIf="!isEditingSocial" [href]="user.social.tiktok" target="_blank">{{ user.social.tiktok }}</a>
            <input *ngIf="isEditingSocial" type="text" [(ngModel)]="user.social.tiktok">
            <small>Number of students from Tiktok</small>
          </div>
        </div>
      </div>
    </div>

    <!-- Personal Information Section -->
    <div class="card personal-information-section">
      <div class="section-header">
        <h3>Personal Information</h3>
        <button class="edit-btn" *ngIf="!isEditingPersonalInfo" (click)="isEditingPersonalInfo = true">
          Edit
          <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/edit.svg)'" [style.mask-image]="'url(assets/icons/edit.svg)'"></span>
        </button>
        <button class="done-btn" *ngIf="isEditingPersonalInfo" (click)="isEditingPersonalInfo = false">Done</button>
      </div>
      <div class="info-grid">
        <div class="form-group">
          <label>First name</label>
          <p *ngIf="!isEditingPersonalInfo">{{ user.firstName }}</p>
          <input *ngIf="isEditingPersonalInfo" type="text" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <p *ngIf="!isEditingPersonalInfo">{{ user.lastName }}</p>
          <input *ngIf="isEditingPersonalInfo" type="text" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <label>Email</label>
          <p *ngIf="!isEditingPersonalInfo">{{ user.email }}</p>
          <input *ngIf="isEditingPersonalInfo" type="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <p *ngIf="!isEditingPersonalInfo">{{ user.phone }}</p>
          <input *ngIf="isEditingPersonalInfo" type="tel" [(ngModel)]="user.phone">
        </div>
        <div class="form-group bio">
          <label>BIO</label>
          <p *ngIf="!isEditingPersonalInfo">{{ user.bio }}</p>
          <textarea *ngIf="isEditingPersonalInfo" [(ngModel)]="user.bio"></textarea>
        </div>
      </div>
    </div>

    <!-- Barcode Information Section -->
    <div class="card barcode-information-section">
        <div class="section-header">
            <h3>Barcode Information</h3>
        </div>
        <div class="barcode-grid">
            <div class="info-item">
                <label>Barcode</label>
                <p>{{ user.barcode.code }}</p>
            </div>
            <div class="info-item">
                <label>Activation start</label>
                <p>{{ user.barcode.activationStart }}</p>
            </div>
            <div class="info-item">
                <label>End of activation</label>
                <p>{{ user.barcode.activationEnd }}</p>
            </div>
        </div>
        <div class="extend-barcode">
            <span class="icon" [style.-webkit-mask-image]="'url(assets/icons/star.svg)'" [style.mask-image]="'url(assets/icons/star.svg)'"></span>
            <p>To extend the barcode activation period</p>
            <button class="request-btn" (click)="isExtendBarcodeModalOpen = true">Request</button>
        </div>
    </div>
  </main>
</div>
<app-extend-barcode-modal [isOpen]="isExtendBarcodeModalOpen" (closed)="isExtendBarcodeModalOpen = false"></app-extend-barcode-modal>