<aside class="sidebar">
  <div class="logo">
    <!-- Assuming the logo is in the assets folder -->
    <img src="assets/logo.svg" alt="Cosqol Logo" />
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/overview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span class="icon" style="-webkit-mask-image: url('assets/icons/overview.svg'); mask-image: url('assets/icons/overview.svg');"></span>
          Overview
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <span class="icon" style="-webkit-mask-image: url('assets/icons/profile.svg'); mask-image: url('assets/icons/profile.svg');"></span>
          Profile
        </a>
      </li>
      <li>
        <a routerLink="/withdraw" routerLinkActive="active">
          <span class="icon" style="-webkit-mask-image: url('assets/icons/withdraw.svg'); mask-image: url('assets/icons/withdraw.svg');"></span>
          Withdraw
        </a>
      </li>
    </ul>
  </nav>
</aside>