@import '../../variables';

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background-color: $color-surface;
  padding: $spacing-lg 0;
  height: 100vh;
  border-right: 1px solid $color-border;
  box-shadow: $box-shadow-light;
}

.logo {
  margin-bottom: $spacing-xl;
  img {
    width: 120px; // Adjust based on the actual logo size
  }
}

nav {
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

nav ul li {
  width: 80%;
  margin-bottom: $spacing-sm;

  a {
    display: flex;
    align-items: center;
    padding: $spacing-sm $spacing-md;
    color: $color-text-light;
    text-decoration: none;
    border-radius: $border-radius-md;
    transition: all 0.3s ease;
    font-weight: $font-weight-medium;

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: $spacing-md;
      background-color: $color-text-light;
      transition: background-color 0.3s ease;
    }

    &.active, &:hover {
      background-color: $color-primary;
      color: $color-surface;

      .icon {
        background-color: $color-surface;
      }
    }
  }
}

.icon {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}

.overview {
  background-image: url('../../assets/icons/overview.svg');
}

.profile {
  background-image: url('../../assets/icons/profile.svg');
}

.withdraw {
  background-image: url('../../assets/icons/withdraw.svg');
}